/* Custom-style.css dosyasının içeriği */
.table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Fare ile üzerine gelindiğinde satırın arka plan rengi */
}

.btn-sm {
    padding: .25rem .5rem; /* Küçük buton için iç boşluk */
    font-size: .875rem; /* Küçük buton için font boyutu */
    line-height: 1.5; /* Satır yüksekliği */
    border-radius: .2rem; /* Kenar yuvarlaklığı */
}

/* Silme butonu için özel stiller */
.delete-button-container {
    text-align: center; /* Silme butonunu ortalar */
}

.delete-button-container form {
    display: inline-block; /* Formu satır içi olarak ayarlar */
}

/* Dashboard linki için stiller */
.back-to-dashboard {
    display: block; /* Blok seviyesinde gösterir */
    width: max-content; /* İçeriğin genişliğine göre ayarlar */
    margin: 1rem auto; /* Üst ve altta boşluk bırakır, otomatik yan boşluklarla merkezler */
}
