body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

#word-container {
    display: inline-block;
    margin-bottom: 20px;
}

.highlight {
    background-color: #a7c7e7;
}

#user-input {
    font-size: 1.2em;
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#user-input:focus {
    border-color: #80bdff;
    outline: none;
}

#feedback {
    font-size: 1.2em;
    color: #31708f;
    height: 30px;
}

#timer {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
}

.correct {
    color: #28a745;
}

.wrong {
    color: #dc3545;
}

audio {
    display: none;
}
